<div class="weather-card">
  <div class="header">
    <h1 *ngIf="!isEdited">{{ data.city.cityName }}</h1>
    <input *ngIf="isEdited" type="text" [(ngModel)]="data.city.cityName" (keyup.enter)="handleEditButton()">
    <div class="buttons">
      <button class="edit-btn">
        <fa-icon [icon]="faEdit" (click)="handleEditButton()"/>
      </button>
      <button class="delete-btn" (click)="deleteCity.emit(data.city.id)">
        <fa-icon [icon]="faTrash"/>
      </button>
    </div>
  </div>
  <div class="content">
    <img class="weather-icon"
         [src]="'https://openweathermap.org/img/wn/'+ data.weather.current.weather[0].icon +'@4x.png'" alt="weather">
    <h4>{{ data.weather.current.temp }}°C</h4>
  </div>
</div>
